Repository kokuwaio/yamllint: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub, lint, renovate, dockerfile, yaml, markdown, shellcheck, test, pr, kokuwa.io, docker.io, ghcr.io

build:
  image: kokuwaio/buildctl:v0.27.0
  settings:
    name: registry.kokuwa.io/kokuwaio/yamllint:ci-${CI_PIPELINE_NUMBER}
    auth:
      registry.kokuwa.io:
        username:
          from_secret: kokuwa_io_username
        password:
          from_secret: kokuwa_io_password
    build-args:
  ...

push:
  image: kokuwaio/buildctl:v0.27.0
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/yamllint:latest
    - registry.kokuwa.io/kokuwaio/yamllint:v1.38.0
    - docker.io/kokuwaio/yamllint:latest
    - docker.io/kokuwaio/yamllint:v1.38.0
    - ghcr.io/kokuwaio/yamllint:latest
  ...

dockerhub:
  steps:
    metadata:
      image: kokuwaio/dockerhub-metadata
      settings:
        repository: kokuwaio/yamllint
        description-short: A WoodpeckerCI plugin for yamllint to lint yaml files.
        categories:
        - developer-tools
        - integration-and-delivery
        username:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    dockerfile:
      image: kokuwaio/hadolint:v2.14.0
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.14.0
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck:v0.11.0
  depends_on: []

test:
  steps:
    pr:
      image: registry.kokuwa.io/kokuwaio/yamllint:ci-${CI_PIPELINE_NUMBER}
      when:
        event: pull_request
    kokuwa.io:
      image: registry.kokuwa.io/kokuwaio/yamllint
      pull: true
      when:
        event:
        - manual
        - push
        branch: main
    docker.io:
  ...

pr:
  image: registry.kokuwa.io/kokuwaio/yamllint:ci-${CI_PIPELINE_NUMBER}

kokuwa.io:
  image: registry.kokuwa.io/kokuwaio/yamllint
  pull: true

docker.io:
  image: docker.io/kokuwaio/yamllint
  pull: true

ghcr.io:
  image: ghcr.io/kokuwaio/yamllint
  pull: true

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.6-slim docker digest to 3a39a05
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update docker.io/library/debian:13.6-slim docker digest to d7e1218
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.2 to v0.33.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.6-slim to 13.7-slim
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.7-slim docker digest to a99cfc5
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.33.0 to v0.33.1
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.7-slim docker digest to a29215f
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.33.1 to v0.34.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

Path conditions:
  build: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  push: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
  lint: any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, **/*.sh)
  test: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  kokuwa.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  docker.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  ghcr.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
