Repository kokuwaio/yamllint: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub, lint, renovate, dockerfile, yaml, markdown, shellcheck, test, pr, kokuwa.io, docker.io, ghcr.io

Path conditions:
  build: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  push: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
  lint: any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md, **/*.sh) and (any of: .woodpecker/lint.yaml, **/*.sh)
  test: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  kokuwa.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  docker.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  ghcr.io: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.3-slim docker digest to bfc1a09
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.3-slim docker digest to f6e2cfa
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update docker.io/library/debian:13.3-slim docker digest to 1d3c811
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.3-slim to 13.4-slim
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 4ffb3a1
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to e02d667
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to cedb1ef
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to bacd8d9
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 109e2c6
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.4-slim to 13.5-slim
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6e2a15
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 545a166
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6f94ac
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 4e401d9
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 28de087
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.31.0 to v0.31.1
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

fix: allow ignores without wildcard suffix
  .justfile
  .woodpecker/lint.yaml
  .yamllint.yaml
  Dockerfile
  README.md
  entrypoint.sh
  renovate.json
  test/invalid.yaml
Due: build, push, dockerhub, lint, renovate, dockerfile, yaml, markdown, shellcheck, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

fix: correct setting `config-file` for cli flag `--config-file`
  entrypoint.sh
Due: build, push, lint, shellcheck, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update docker.io/library/debian docker tag from 13.5-slim to 13.6-slim
  Dockerfile
Due: build, push, lint, dockerfile, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update kokuwaio/buildctl docker tag from v0.31.1 to v0.31.2
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/build.yaml
Due: build, push, lint, yaml, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck
