Repository kokuwaio/yamllint: changes, and which Woodpecker steps are due for each by the changed paths.
All: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/yamllint
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/yamllint
      description-short: A WoodpeckerCI plugin for yamllint to lint yaml files.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

.woodpecker/test.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/yamllint
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]
matrix:
  PLATFORM: [amd64, arm64]
labels:
  platform: linux/${PLATFORM}

steps:

  pr:
    image: registry.kokuwa.io/kokuwaio/yamllint:ci-${CI_PIPELINE_NUMBER}
    when:
      event: pull_request

  kokuwa.io: &version
    image: registry.kokuwa.io/kokuwaio/yamllint
    pull: true
    when:
      event: [manual, push]
      branch: main

  docker.io:
    image: docker.io/kokuwaio/yamllint
    <<: *version

  ghcr.io:
    image: ghcr.io/kokuwaio/yamllint
    <<: *version

chore: fix renovate preset location
  renovate.json
Due: none

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 6ac2c08
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore: add woodpecker version tags, add mirror usage
  .woodpecker/build.yaml
  .woodpecker/lint.yaml
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 2424c18
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/shellcheck docker tag from v0.10.0 to v0.11.0
  .woodpecker/lint.yaml
Due: none

chore: aligned build files with other repositories
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .justfile
  .woodpecker/lint.yaml
  .yamllint.yaml
  Dockerfile
  renovate.json
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 135c31f
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 8f8e63b
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:12.11-slim docker digest to b1a7414
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 12.11-slim to 13.0-slim
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.0-slim to 13.1-slim
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: none

chore: add version to readme
  .justfile
  README.md
  renovate.json
Due: dockerhub

chore(deps): update docker.io/library/debian:13.1-slim docker digest to fb6a168
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 1caf1c7
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 66b37a5
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 9b6ccd2
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 2fc7219
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.1-slim docker digest to a347fd7
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.1-slim to 13.2-slim
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 18764e9
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

fix(lint): fix md issues after markdownlint update
  README.md
Due: dockerhub

chore(deps): update docker.io/library/debian:13.2-slim docker digest to e711a7b
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 4bcb9db
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency adrienverge/yamllint from v1.37.1 to v1.38.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/debian docker tag from 13.2-slim to 13.3-slim
  Dockerfile
Due: test, pr, kokuwa.io, docker.io, ghcr.io
